/projects
/.git
/Applications
/Documents
/Downloads
/Movies
/Public
/Library
/Desktop
/Music
/Pictures
/.bundle
/.pry_history
/.bash_history
/.config
/.gem
/.irb-history
/.lesshst
/.psql_history
/.rvm
/.subversion
/.mkshrc
/.zlogin
/.zshrc
/.viminfo
.vim/.netrwhist
.bash_history
/.cisco
.cache/go-build
.config/htop/htoprc
/.gnupg
.ssh
.ssh/known_hosts
.viminfo
/.anyconnect
gitops-hephy/
go/
sdk/go1.15.1
sdk/go1.15.2
sdk/go1.15.3
/.DS_Store
/.CFUserTextEncoding
/.oracle_jre_usage
/.Trash

/.HEH*
/.ghtoke*

template
build

.azure/
.docker/
.kx/
.zprofile
.zsh_history
MPLUS_FONTS/
Brewfile.lock.json

/.kube/cache
/.kube/config
/.kube/config-valuable
/.kube/config-oidc
/.kube/config-flattened
/.kube/kubectx
/.kube/kubens

/.krew/receipts/oidc-login.yaml
/.krew/receipts/krew.yaml
/.krew/bin/kubectl-oidc_login
/.krew/bin/kubectl-krew
/.krew/index
/.krew/store/oidc-login/v1.25.0/kubelogin
/.krew/store/oidc-login/v1.25.0/LICENSE
/.krew/store/oidc-login/v1.25.0/README.md
/.krew/store/krew/v0.4.2/LICENSE
/.krew/store/krew/v0.4.2/krew
