/projects
/.git
/Applications
/Documents
/Downloads
/Movies
/Public
/Library
/Desktop
/Music
/Pictures
/.bundle
/.pry_history
/.bash_history
/.config
/.gem
/.irb-history
/.lesshst
/.psql_history
/.rvm
/.subversion
/.mkshrc
/.zlogin
/.zshrc
/.viminfo
.vim/.netrwhist
.bash_history
/.cisco
.cache/go-build
.config/htop/htoprc
/.gnupg
.kube/cache
.kube/config
.kube/http-cache
.kube/kubectx
.kx/
.ssh
.ssh/known_hosts
.viminfo
/.anyconnect
gitops-hephy/
go/
sdk/go1.15.1
sdk/go1.15.2
sdk/go1.15.3
/.DS_Store
/.CFUserTextEncoding
/.oracle_jre_usage
/.Trash

template
build
